body {
    background-color: aquamarine;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;

}

/* #first, #second{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
} */

.box {
    /* width: 100px;  */
    /* height: 100px;  */
    background-color: white;
}